<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDF5HThaRoYe7SO0fabIi6NIWleLvqd9kI" /> <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DGAJ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".Owner_donation_record"
            android:exported="false">
        </activity>
        <activity
            android:name=".Choose_SignupType"
            android:exported="false" />
        <activity
            android:name=".Customer_topList"
            android:exported="false" />
        <activity
            android:name=".Customer_myloveList"
            android:exported="false" />
        <activity
            android:name=".Signup_owner"
            android:exported="false" />
        <activity
            android:name=".Signup_user"
            android:exported="false" />
        <activity
            android:name=".Owner_donating_Info"
            android:exported="false">
        </activity>
        <activity
            android:name=".Choose_Find_ID_PW"
            android:exported="false" />

        <activity
            android:name=".FindID"
            android:exported="false" />
        <activity
            android:name=".FindPW"
            android:exported="false" />
        <activity
            android:name=".Find_result"
            android:exported="false" />
        <activity
            android:name=".Owner_happyDonation"
            android:exported="false">
        </activity>
        <activity
            android:name=".Customer_game_byLots"
            android:exported="false">
        </activity>
        <activity
            android:name=".Customer_game_choose"
            android:exported="false">
        </activity>
        <activity
            android:name=".Customer_game_setItem"
            android:exported="false" />
        <activity
            android:name=".Customer_game_roulette"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDF5HThaRoYe7SO0fabIi6NIWleLvqd9kI" />
        <activity
            android:name=".Customer_changeTel"
            android:exported="false" />
        <activity
            android:name=".Customer_changePW"
            android:exported="false" />
        <activity
            android:name=".Customer_myWaiting"
            android:exported="false" />
        <activity
            android:name=".Customer_restaurantDetail"
            android:exported="false" />
        <activity
            android:name=".Owner_mainScreen"
            android:exported="false" />
        <activity
            android:name=".Customer_myAccount"
            android:exported="false" />
        <activity
            android:name=".Customer_searchScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Customer_mainScreen"
            android:exported="false" />

        <activity
            android:name=".Customer_applyWaiting"
            android:exported="false" />
        <activity
            android:name=".Owner_mainScreen_unopened"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>